@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


 
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9853 0.0029 84.5588);
  --foreground: oklch(0.2931 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2931 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2931 0 0);
  --primary: oklch(0.4065 0.0130 106.9654);
  --primary-foreground: oklch(0.9853 0.0029 84.5588);
  --secondary: oklch(0.9132 0.0100 87.4744);
  --secondary-foreground: oklch(0.4065 0.0130 106.9654);
  --muted: oklch(0.9616 0.0057 84.5664);
  --muted-foreground: oklch(0.5702 0.0120 106.7748);
  --accent: oklch(0.5349 0.0308 118.8533);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.4793 0.1019 27.0681);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8977 0.0113 89.7294);
  --input: oklch(0.9616 0.0057 84.5664);
  --ring: oklch(0.5349 0.0308 118.8533);
  --chart-1: oklch(0.4065 0.0130 106.9654);
  --chart-2: oklch(0.5349 0.0308 118.8533);
  --chart-3: oklch(0.7153 0.0337 107.2223);
  --chart-4: oklch(0.7742 0.0263 106.9989);
  --chart-5: oklch(0.8226 0.0457 56.1050);
  --sidebar: oklch(0.9853 0.0029 84.5588);
  --sidebar-foreground: oklch(0.2931 0 0);
  --sidebar-primary: oklch(0.4065 0.0130 106.9654);
  --sidebar-primary-foreground: oklch(0.9853 0.0029 84.5588);
  --sidebar-accent: oklch(0.9616 0.0057 84.5664);
  --sidebar-accent-foreground: oklch(0.5349 0.0308 118.8533);
  --sidebar-border: oklch(0.8977 0.0113 89.7294);
  --sidebar-ring: oklch(0.5349 0.0308 118.8533);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-cormorant: Cormorant, serif;
 
  --radius: 0.125rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0 0 / 0.01);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0 0 / 0.01);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0 0 / 0.03), 0px 1px 2px -1px hsl(0 0 0 / 0.03);
  --shadow: 0px 4px 12px 0px hsl(0 0 0 / 0.03), 0px 1px 2px -1px hsl(0 0 0 / 0.03);
  --shadow-md: 0px 4px 12px 0px hsl(0 0 0 / 0.03), 0px 2px 4px -1px hsl(0 0 0 / 0.03);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0 0 / 0.03), 0px 4px 6px -1px hsl(0 0 0 / 0.03);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0 0 / 0.03), 0px 8px 10px -1px hsl(0 0 0 / 0.03);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0 0 / 0.07);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2170 0.0038 106.7146);
  --foreground: oklch(0.9132 0.0100 87.4744);
  --card: oklch(0.2470 0.0037 106.6683);
  --card-foreground: oklch(0.9132 0.0100 87.4744);
  --popover: oklch(0.2470 0.0037 106.6683);
  --popover-foreground: oklch(0.9132 0.0100 87.4744);
  --primary: oklch(0.9132 0.0100 87.4744);
  --primary-foreground: oklch(0.2170 0.0038 106.7146);
  --secondary: oklch(0.2924 0.0036 106.6178);
  --secondary-foreground: oklch(0.9132 0.0100 87.4744);
  --muted: oklch(0.2924 0.0036 106.6178);
  --muted-foreground: oklch(0.7137 0.0086 106.6142);
  --accent: oklch(0.7153 0.0337 107.2223);
  --accent-foreground: oklch(0.2170 0.0038 106.7146);
  --destructive: oklch(0.5441 0.1859 25.9503);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3279 0.0052 106.6822);
  --input: oklch(0.2924 0.0036 106.6178);
  --ring: oklch(0.7153 0.0337 107.2223);
  --chart-1: oklch(0.9132 0.0100 87.4744);
  --chart-2: oklch(0.7153 0.0337 107.2223);
  --chart-3: oklch(0.5349 0.0308 118.8533);
  --chart-4: oklch(0.4065 0.0130 106.9654);
  --chart-5: oklch(0.3279 0.0052 106.6822);
  --sidebar: oklch(0.1949 0.0039 106.7588);
  --sidebar-foreground: oklch(0.9132 0.0100 87.4744);
  --sidebar-primary: oklch(0.9132 0.0100 87.4744);
  --sidebar-primary-foreground: oklch(0.1949 0.0039 106.7588);
  --sidebar-accent: oklch(0.2924 0.0036 106.6178);
  --sidebar-accent-foreground: oklch(0.7153 0.0337 107.2223);
  --sidebar-border: oklch(0.3279 0.0052 106.6822);
  --sidebar-ring: oklch(0.7153 0.0337 107.2223);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-cormorant: Cormorant, serif;
  --radius: 0.125rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 8px 20px 0px hsl(0 0 0 / 0.20);
  --shadow-xs: 0px 8px 20px 0px hsl(0 0 0 / 0.20);
  --shadow-sm: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 1px 2px -1px hsl(0 0 0 / 0.40);
  --shadow-md: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 2px 4px -1px hsl(0 0 0 / 0.40);
  --shadow-lg: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 4px 6px -1px hsl(0 0 0 / 0.40);
  --shadow-xl: 0px 8px 20px 0px hsl(0 0 0 / 0.40), 0px 8px 10px -1px hsl(0 0 0 / 0.40);
  --shadow-2xl: 0px 8px 20px 0px hsl(0 0 0 / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-cormorant: var(--font-cormorant);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}